header {
    z-index: 12345;
}
.header-inner {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
}

body  {
    max-width: 4096px;
}

body section > div {
    position: relative;
    margin: 0 auto;
}

